body {
  width: 100%;
  height: 100%;
  margin: 0;
}
header {
  text-align: center;
}
header a {
  padding: 10px;
  background: rgb(200,200,200);
}
img {
    display: block;
    margin: 0 auto;
}
#featured-property figure figcaption {
  font-size: 12px;
  text-align: center;
}
#featured-property p {
    margin: 0 auto;
    width: 800px;
    text-align: center;
}
#details {
  width: 800px;
  margin: 0 auto;
}
#details div {
  display: inline-block;
  width: 180px;
  height: 100px;
  padding: 10px;
}
